<?xml version="1.0"?>
<!--
/**
 * Easycom Solutions
 * @category  Easy
 * @package   Easy_MultipleDomains
 * @copyright 1995-2015 Easycom Solutions (http://www.groupe-easycom.com/)
 * @license   http://opensource.org/licenses/MIT  The MIT License (MIT)
 */
-->
<config>
    <modules>
        <Easy_MultipleDomains>
            <version>0.1.0</version>
        </Easy_MultipleDomains>
    </modules>

    <global>
        <blocks>
            <easy_multipledomains>
                <class>Easy_MultipleDomains_Block</class>
            </easy_multipledomains>
        </blocks>
        <helpers>
            <easy_multipledomains>
                <class>Easy_MultipleDomains_Helper</class>
            </easy_multipledomains>
        </helpers>
        <models>
            <easy_multipledomains>
                <class>Easy_MultipleDomains_Model</class>
                <resourceModel>easy_multipledomains_resource</resourceModel>
            </easy_multipledomains>
            <easy_multipledomains_resource>
                <class>Easy_MultipleDomains_Model_Resource</class>                
            </easy_multipledomains_resource>
            <core>
                <rewrite>
                    <store>Easy_MultipleDomains_Rewrite_Mage_Core_Model_Store</store>
                </rewrite>
            </core>
        </models>
        <resources>
            <!-- Begin conf to add order attribute based on mage_sales setup -->
            <easy_multipledomains_setup>
                <setup>
                    <module>Easy_MultipleDomains</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easy_multipledomains_setup>
            <easy_multipledomains_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </easy_multipledomains_write>
            <easy_multipledomains_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </easy_multipledomains_read>
            <!-- End conf to add order attribute -->
        </resources>
        <events>
            <router_standard_url_should_secure_before>
                <observers>
                    <easy_multipledomains>
                        <type>singleton</type>
                        <class>easy_multipledomains/observer</class>
                        <method>handleCheckSecureAndThemeUpdate</method>
                    </easy_multipledomains>
                </observers>
            </router_standard_url_should_secure_before>
            <store_get_base_url_after>
                <observers>
                    <easy_multipledomains>
                        <type>singleton</type>
                        <class>easy_multipledomains/observer</class>
                        <method>handleDomains</method>
                    </easy_multipledomains>
                </observers>
            </store_get_base_url_after>
        </events>
    </global>
    <frontend>
        <!--<events>
            <checkout_type_onepage_save_order>
                <observers>
                    <easy_multipledomains_setorderorigin>
                        <type>model</type>
                        <class>Easy_MultipleDomains_Model_Order</class>
                        <method>setOrderOrigin</method>
                    </easy_multipledomains_setorderorigin>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <easy_multipledomains_setorderorigin_from_multi>
                        <type>model</type>
                        <class>Easy_MultipleDomains_Model_Order</class>
                        <method>setOrderOrigin</method>
                    </easy_multipledomains_setorderorigin_from_multi>
                </observers>
            </checkout_type_multishipping_create_orders_single>
        </events> -->
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_block_system_config_init_tab_sections_before>
                <observers>
                    <easy_multipledomains>
                        <type>singleton</type>
                        <class>easy_multipledomains/config_observer</class>
                        <method>appendGroupsToSection</method>
                    </easy_multipledomains>
                </observers>
            </adminhtml_block_system_config_init_tab_sections_before>
            <admin_system_config_changed_section_easy_multipledomains>
                <observers>
                    <easy_multipledomains>
                        <type>singleton</type>
                        <class>easy_multipledomains/config_observer</class>
                        <method>adminSystemConfigChanged</method>
                    </easy_multipledomains>
                </observers>                
            </admin_system_config_changed_section_easy_multipledomains>
        </events>
    	<!--
        <layout>
            <updates>
                <easy_multipledomains.xml>
                    <file>easy/multipledomains.xml</file>
                </easy_multipledomains.xml>
            </updates>
        </layout>
        -->
        <translate>
            <modules>
                <Easy_MultipleDomains>
                    <files>
                        <default>Easy_MultipleDomains.csv</default>
                    </files>
                </Easy_MultipleDomains>
            </modules>
        </translate>
        <!--<events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <easy_multipledomains_sales_grid_add_column>
                        <type>model</type>
                        <class>Easy_MultipleDomains_Model_Sales_Grid_Observer</class>
                        <method>addColumnsToGrid</method>
                    </easy_multipledomains_sales_grid_add_column>
                </observers>
            </core_block_abstract_prepare_layout_before>                
        </events>  -->
    </adminhtml>
    <default>
        <easy_multipledomains>
            <general>                
                <number_of_domains>1</number_of_domains>         
            </general>      
        </easy_multipledomains>
        <web>
            <routers>
                <standard>
                    <area>frontend</area>
                    <class>Easy_MultipleDomains_Rewrite_Mage_Core_Controller_Varien_Router_Standard</class>
                </standard>
            </routers>
        </web>
    </default>
    <stores>
        <default>
            <web>
                <routers>
                    <standard>
                        <area>frontend</area>
                        <class>Easy_MultipleDomains_Rewrite_Mage_Core_Controller_Varien_Router_Standard</class>
                    </standard>
                </routers>
            </web>
        </default>        
    </stores>
</config>